<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.chaehyeon.java_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaProject">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_selection_screen" />
        <activity android:name=".activity_type1" />
        <activity android:name=".activity_type2" />
        <activity android:name=".activity_type3" />
        <activity android:name=".activity_type4" />
        <activity android:name=".activity_type5" />
        <activity android:name=".activity_type6" />
        <activity android:name=".activity_type7" />
        <activity android:name=".activity_type8" />
        <activity android:name=".activity_type9" />
        <activity android:name=".activity_birth1" />
        <activity android:name=".activity_birth2" />
        <activity android:name=".activity_birth3" />
        <activity android:name=".activity_birth4" />
        <activity android:name=".activity_birth5" />
        <activity android:name=".activity_birth6" />
        <activity android:name=".activity_birth7" />
        <activity android:name=".activity_birth8" />
        <activity android:name=".activity_birth9" />
        <activity android:name=".activity_birth10" />
        <activity android:name=".activity_birth11" />
        <activity android:name=".activity_birth12" />
    </application>

</manifest>